@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-200;
}

@layer base {
  body {
    @apply bg-white dark:bg-slate-950 text-gray-900 dark:text-white;
  }
}
